/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  scroll-padding-top: 1rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* Variables */

:root {
  --ivory: #f3e5ab;
  --light-ivory: #f5f5dc;
  --black: #130f40;
  --light-color: rgb(255, 228, 232);
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --main-color: #b76e79;
  --light-main: #d998a3;
  --text-color: #020102;
  --bg-color: #fffff0;
}

.btn {
  padding: 10px 20px;
  background: var(--main-color);
  color: var(--bg-color);
  font-weight: 400;
}

.btn:hover {
  background: var(--light-main);
}
nav {
    background-color: #ead9c9;
  /* background-color: var(--light-ivory); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 35px;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-color);
}

.title span {
  color: var(--main-color);
}

.service .nav {
  display: flex;
  column-gap: 2rem;
}

.nav a {
  color: var(--text-color);
  font-weight: bold;
  font-size: 18px;
}

.nav a:hover {
  color: var(--light-main);
}

.home {
  width: 100%;
  height: 100vh;
  background-image: url(bg/bg2.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .main-text h1 {
  color: palevioletred;
  font-size: 65px;
  text-transform: capitalize;
  line-height: 1.1;
  font-weight: 600;
  margin: 6px 0 10px;
}
.home .main-text p {
  color: var(--black);
  font-size: 30px;
  font-weight: bolder;
  /* margin-bottom: 20px; */
}

.heading h2 {
  font-size: 2.5rem;
}

.heading {
  text-align: center;
}

.heading span {
  font-size: 28px;
  font-weight: 500;
  color: var(--main-color);
}

.heading p {
  font-size: 1.8rem;
  font-weight: 300;
}

.card-container {
  /* border: 2px solid red; */
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.card-container .box {
  flex: 1 1 17rem;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
  border-radius: 0.5rem;
  max-width: 22rem;
  text-align: center;
}

.card-container .box .box-img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  object-position: center;
  margin-bottom: 1rem;
}

.card-container .box h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

.card-container .box span {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--main-color);
}

.card-container .box .bx {
  color: var(--main-color);
  margin: 0.8rem 0;
}

.card-container .box form {
  height: 73px;
}
.card-container .box form .btn {
  max-width: 120px;
}

.q {
  margin-bottom: 12px;
}

.lab {
  color: var(--light-main);
}

#Input {
  border: 2px solid var(--light-main);
  border-radius: 3px;
  max-width: 50px;
  text-align: center;
}

/* .card-container .box .details {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.8rem;
    right: 1rem;
    font-size: 1rem;
    color: var(--text-color);
  }
  
  .card-container .box .deatils:hover {
    color: var(--main-color);
    text-decoration: underline;
  } */

.footer {
  padding: 50px;
  background: var(--text-color);
  color: #f6f6f6;
  border-top: 2px solid var(--main-color);
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.footer-container .logo span {
  color: var(--main-color);
  margin-bottom: 1rem;
  font-weight: bolder;
  font-size: 20px;
}

.footer-container .footer-box {
  display: flex;
  flex-direction: column;
}

.social {
  display: flex;
  align-items: center;
}

.social a {
  font-size: 24px;
  color: var(--bg-color);
  margin-right: 1rem;
}

.social a:hover {
  color: var(--main-color);
}

.footer-box h3 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.footer-box a,
.footer-box p {
  color: #818181;
  margin-bottom: 10px;
}

.footer-box a:hover {
  color: var(--bg-color);
}

.copyright {
  padding: 20px;
  text-align: center;
  color: var(--bg-color);
  background-color: var(--text-color);
}

@media (max-width: 1464px) {
  .card-container {
    padding: 0px 15px;
  }
}

@media (max-width: 490px) {
  .card-container {
    justify-content: center;
  }
}
